@import url('./base.css');

#app {
  max-width: 1280px;
  padding: 2rem;
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  color: hsl(160deg 100% 37% / 100%);
  text-decoration: none;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsl(160deg 100% 37% / 20%);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
